:root {

	/* font-family */
	--titles-font: "Poppins", sans-serif;
	--text-font: "Rubik", sans-serif;

	/* colors */
	--primary-color: #000;
	--secondary-color: #ff4d30;
	--white-color: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.debug {
	border: 1px solid red;

	&>* {
		border: 1px solid green;

		&>* {
			border: 1px solid blue;
		}
	}
}